body{
    margin: 0%;
}

@media (max-width:800px){
    .joincontainer{
        width: 50% !important;
border:2px solid white;

}
.chatcontent{
    background-color: rgb(29 35 38);
 
  justify-content: center;
height: 90%;
    width: 90%;
    margin: 30px 0px;
}
.header{
    height: 15%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatpage{
    justify-content: center;
}


}